<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Master Data</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="fragments/topbar :: topbar"></div>
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-2">
                        <h1 class="h3 mb-0 text-gray-800">Classrooms</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#addClassroom"><i
                                class="fas fa-plus fa-sm text-white-50"></i> Add Classroom</a>
                    </div>
                    <nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					  	<li class="breadcrumb-item">Master Data</li>
					    <li class="breadcrumb-item"><a th:href="@{/school}">Schools</a></li> 
					    <li class="breadcrumb-item active" aria-current="page">Classrooms</li>
					  </ol>
					</nav>
                    
                    <div class="row">
                        <div class="col-lg-3 mb-4" th:each="cl : ${classroom}">
                            <div class="card bg-primary text-white shadow">
                            	<div
                                    class="card-header d-flex flex-row align-items-center justify-content-between bg-white">
                                    <h6 class="m-0 font-weight-bold text-primary" th:text="${school.name}"></h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Action:</div>
                                            <a class="dropdown-item" href="#" data-toggle="modal" th:data-target="'#updateClass' + ${cl.id}">Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" data-toggle="modal" th:data-target="'#deleteClass' + ${cl.id}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                	<a th:href="@{/student/{id}(id=${cl.id})}">
                                		<div class="row no-gutters align-items-center">
		                                	<div class="col mr-2">
		                                		<span th:text="${cl.name}"></span>
		                                        <div class="text-white-80 small" th:text="${cl.studentClassroom.size()} + ' Students'"></div>
		                                    </div>
		                                    <div class="col-auto">
		                                        <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
		                                    </div>
	                                	</div>
                                	</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="addClassroom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Form Add Classroom</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                	<form th:action="@{/classroom/add/{id}(id=${school.id})}" method="POST" enctype="multipart/form-data" th:object="${classroomNew}">
                		<div class="form-group">
						    <label for="exampleInputEmail1">Classroom Name</label>
						    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Classroom Name" th:field="*{name}">
						</div>
						<button class="btn btn-primary" type="submit">Save</button>
                	</form>
                </div>
            </div>
        </div>
    </div>
    
    <div th:each="cl : ${classroom}" class="modal fade" th:id="'updateClass' + ${cl.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Form Edit Classroom</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                	<form th:action="@{/classroom/update/{id}(id=${cl.id})}" method="POST" enctype="multipart/form-data" th:object="${classroomNew}">
                		<div class="form-group">
						    <label for="exampleInputEmail1">Classroom Name</label>
						    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="School Name" th:name="name" th:value="${cl.name}">
				 		</div>
				 		<button class="btn btn-primary" type="submit">Save</button>
                	</form>
                </div>
            </div>
        </div>
    </div>

    <div th:each="cl : ${classroom}" class="modal fade" th:id="'deleteClass' + ${cl.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Classroom</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to delete this data?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" th:href="@{/classroom/delete/{id}(id=${cl.id})}">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>
</html>