<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Master Data</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="fragments/topbar :: topbar"></div>
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-2">
                        <h1 class="h3 mb-0 text-gray-800">Students</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#addStudent"><i
                                class="fas fa-plus fa-sm text-white-50"></i> Add Student</a>
                    </div>
                    <nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					  	<li class="breadcrumb-item">Master Data</li>
					    <li class="breadcrumb-item"><a th:href="@{/school}">Schools</a></li> 
					    <li class="breadcrumb-item"><a th:href="@{/classroom/{id}(id=${classroom.school.id})}">Classrooms</a></li> 
					    <li class="breadcrumb-item active" aria-current="page">Students</li>
					  </ol>
					</nav>
                    
                    <div class="card shadow mb-4">
                    	<div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" th:text="${classroom.school.name} + ' (' + ${classroom.name} + ')'"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Student ID</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="sc : ${studentClass}">
                                            <td th:text="${sc.student.name}"></td>
                                            <td th:text="${sc.student.studentId}"></td>
                                            <td th:text="${sc.student.hp}"></td>
                                            <td th:text="${sc.student.email}"></td>
                                            <td>
                                            	<a href="#" class="btn btn-info btn-circle btn-sm">
			                                        <i class="fas fa-chart-line"></i>
			                                    </a>
			                                    <a href="#" class="btn btn-warning btn-circle btn-sm" data-toggle="modal" th:data-target="'#update' + ${sc.id}">
			                                        <i class="fas fa-edit"></i>
			                                    </a>
			                                    <a href="#" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" th:data-target="'#delete' + ${sc.id}">
			                                        <i class="fas fa-trash"></i>
			                                    </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Form Add Student</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
	                <form th:action="@{/student/add/{id}(id=${classroom.id})}" method="POST" enctype="multipart/form-data" th:object="${student}">
	                	<div class="form-group">
						    <label for="exampleInputEmail1">Student Name</label>
						    <input type="text" class="form-control" id="student" aria-describedby="emailHelp" placeholder="Enter Student Name" th:field="*{name}">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Student ID</label>
						    <input type="text" class="form-control" id="studentId" aria-describedby="emailHelp" placeholder="Enter Student ID" th:field="*{studentId}">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Phone</label>
						    <input type="text" class="form-control" id="hp" aria-describedby="emailHelp" placeholder="Enter Phone" th:field="*{hp}">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Email</label>
						    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" th:field="*{email}">
						</div>
						<button class="btn btn-primary" type="submit">Save</button>
	                </form>
                </div>
            </div>
        </div>
    </div>
    
    <div th:each="sc : ${studentClass}" class="modal fade" th:id="'update' + ${sc.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Form Edit School</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                	<form th:action="@{/student/update/{id}(id=${sc.id})}" method="POST" enctype="multipart/form-data" th:object="${student}">
                		<div class="form-group">
						    <label for="exampleInputEmail1">Student Name</label>
						    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="School Name" th:name="name" th:value="${sc.student.name}">
				 		</div>
				 		<div class="form-group">
						    <label for="exampleInputEmail1">Student ID</label>
						    <input type="text" class="form-control" id="studentId" name="studentId" aria-describedby="emailHelp" placeholder="Enter Student ID" th:name="studentId" th:value="${sc.student.studentId}">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Phone</label>
						    <input type="text" class="form-control" id="hp" name="hp" aria-describedby="emailHelp" placeholder="Enter Phone" th:name="hp" th:value="${sc.student.hp}">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Email</label>
						    <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email" th:name="email" th:value="${sc.student.email}">
						</div>
				 		<button class="btn btn-primary" type="submit">Save</button>
                	</form>
                </div>
            </div>
        </div>
    </div>

    <div th:each="sc : ${studentClass}" class="modal fade" th:id="'delete' + ${sc.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to delete this data?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" th:href="@{/student/delete/{id}(id=${sc.id})}">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    
    <script>
    	$(document).ready(function() {
		  $('#dataTable').DataTable();
		});
    </script>

</body>
</html>